h1,div{
    color: aliceblue;
    background-color: black;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}
.container{ 
    display: block;
    padding: 2px;
    margin: 2px;
}
body{
    background-color: blue;
}